.transactionHistory {
  width: 600px;
  background-color: white;
  border-radius: 25px;
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  padding: 20px;
}

thead {
  background-color: rgba(26, 26, 196, 0.525);
}

th {
  font-size: 15px;
  height: 35px;
  color: white;
}

tr {
  font-size: 12.5px;
  height: 25px;
  text-align: center;
  text-transform: capitalize;
}

tr:nth-child(even) {
  background-color: rgba(113, 113, 157, 0.292);
}
